name: Deploy to Hugging Face

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Push to Hugging Face
      uses: actions-js/push@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        directory: ./
        repository: ${{ secrets.HF_USERNAME }}/${{ secrets.HF_SPACE_NAME }}
        branch: main
        git_config_email: "actions@github.com"
        git_config_name: "GitHub Actions"
