name: Deploy to Hugging Face

on:
push:
branches:
- main

jobs:
deploy:
runs-on: ubuntu-latest

steps:
- name: Get Code
uses: actions/checkout@v4

- name: Deploy to Hugging Face
env:
HF_TOKEN: ${{ secrets.HF_TOKEN }}
HF_USERNAME: ${{ secrets.HF_USERNAME }}
HF_SPACE_NAME: ${{ secrets.HF_SPACE_NAME }}
run: |
git config --global user.email "actions@github.com"
git config --global user.name "GitHub Actions"

git clone https://$HF_USERNAME:$HF_TOKEN@huggingface.co/spaces/$HF_USERNAME/$HF_SPACE_NAME hf_space

rsync -av --exclude='.git' ./ hf_space/

cd hf_space
git add .
git commit -m "Auto deploy from GitHub" || echo "No changes to commit"
git push
